/bin/
/pkg/
/dist/

*.o
*.a
*.so
*.exe
*.dll
*.dylib

*.log
*.sql
*.sqlite

.idea/ 
*.iml  
.vscode/ 
*.sublime-workspace

.DS_Store
Thumbs.db

/vendor/

.env

*.test
*.test.log

*.out

Gobench/
Gocache/
Goproxy/

*.cover

*.env

go.sum

go.work
